name: test

on:
  push:
    branches:
      - main

  # Run builds for any PRs.
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - "examples/**"

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          bundler-cache: true

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version-file: .tool-versions

      - name: Install firebase emulator
        run: |
          set -xe
          sudo wget https://firebase.tools/bin/linux/latest -O /usr/local/bin/firebase --quiet
          sudo chmod 755 /usr/local/bin/firebase
          firebase setup:emulators:firestore

      - run: firebase --project test emulators:exec --only firestore "bundle exec rspec"
        env:
          RACK_ENV: test
          REDIS_URL: redis://127.0.0.1:${{ job.services.redis.ports['6379'] }}/0

      - name: Integration test
        run: |
          set -xe
          bundle exec puma -C config/puma.rb &
          
          # FIXME: Wait for booting
          sleep 3

          # Check status code
          curl -s -o /dev/null -w '%{http_code}' http://localhost:8080/ | grep "200"

          pid=$(jobs -l | grep puma | awk '{print $2}')
          kill -9 $pid

      - name: Slack Notification
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
